<a class="pokemon" href="">
    <section class="pokemon__status">
        <h2>Nome</h2>

        <ul>
            <li>Atributo</li>
            <li>Atributo</li>
        </ul>
    </section>

    <section class="pokemon__image">
        <img src="/assets/images/pokemon.png" alt="Nome">
    </section>
</a>

<a class="pokemon" href="">
    <section class="pokemon__status">
        <h2>Nome</h2>

        <ul>
            <li>Atributo</li>
            <li>Atributo</li>
        </ul>
    </section>

    <section class="pokemon__image">
        <img src="/assets/images/pokemon.png" alt="Nome">
    </section>
</a>