:root {
    --branco: #fff;
    --primary-color: #262835;
    --secondary-color: #ff5473;
}

html {
    font-family: 'Roboto', sans-serif;
    background: var(--primary-color);
}

main {
    max-width: rem-calc(600);
    margin: 0 auto;
    box-sizing: border-box;
}